
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

venv/
ENV/
env/
.venv/

.ipynb_checkpoints/

saved_model/
*.h5
*.ckpt
*.tflite

dataset/

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

node_modules/
npm-debug.log
yarn-error.log

dist/
build/
